<template lang="html">

  
    <div class="box character-history-card">
        <h3>History</h3>
        <article class="media">
            <dl>
              <dt>Home world : </dt>
              <dd>{{history.homeworld}}</dd>
          
              <dt>Number of movies : </dt>
              <dd>{{history.movies}}</dd>
              
              <dt>Seen on starships : </dt>
              <ShipItem 
              v-for="(ship, index) in history.starships" 
              v-bind:ship="ship"
              :key="index"
              />
            </dl>
          </article>
      </div>
  

</template>

<script lang="js">
import ShipItem from "./ShipItem.vue";

  export default  {
    name: 'CharacterHistoryCard',
    props: {
      history: {
        movies: 0,
        homeworld: "n/a",
        starships: []
      }
    },
    components:{
      ShipItem
    },
    mounted() {
        
    },
    data() {
      return {

      }
    },
    methods: {
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
.character-history-card{
   dt {
    font-weight: bold;
    text-decoration: none;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
}
</style>
