<template lang="html">

  <div class="character-item column is-one-third">
    <div class="card" @click="onclickItem(character.url)">
      <h4>{{character.name}}</h4>
    </div>
  </div>

</template>

<script lang="js">

  export default  {
    name: 'CharacterItem',
    props: ['character'],
    components:{},
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {
      onclickItem: function (url) {
        this.$emit('item-cliked', url);
      }
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .character-item {
    .card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
      &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    }
  }
</style>
