<template lang="html">

  <section class="character-id-card columns is-multiline">
    
    <section class="column">
      <CharacterPhysicalCard v-bind:ids="ids"/>
    </section>
          
    <section class="column is-two-thirds">
      <CharacterHistoryCard v-bind:history="history"/>
    </section>
  </section>

</template>

<script lang="js">
  import axios from "axios";
  import CharacterPhysicalCard from "./CharacterPhysicalCard.vue";
  import CharacterHistoryCard from "./CharacterHistoryCard.vue";

  export default  {
    name: 'character-id-card',
    props: ['characterIntel'],
    components:{
      CharacterPhysicalCard,
      CharacterHistoryCard
    },
    mounted() {
      
    },
    data() {
      return {
        ids: {
          name: this.characterIntel.name,
          age: this.ageComputed(),
          gender: this.characterIntel.gender,
          height: this.characterIntel.height,
          mass: this.characterIntel.mass
        },
        history: {
          movies: this.getNumberOfMovies(),
          starships: this.characterIntel.starships,
          homeworld: this.homeworld()
        }
      }
    },
    methods: {
      ageComputed: function(){
        let yearFormatted = 0;

        if(this.characterIntel.birth_year) {
           let date = new Date();
           let yearBBY = this.characterIntel.birth_year.slice(0, -3);
           yearFormatted = parseInt(yearBBY) + (date.getFullYear() - 1979)
        }

        return yearFormatted;
      },
      getNumberOfMovies: function () {
        return  this.characterIntel.films ? this.characterIntel.films.length : 0;
      },
      homeworld() {
        if(this.characterIntel.homeworld) {
          axios.get(this.characterIntel.homeworld)
          .then(response => this.history.homeworld = response.data.name)
          .catch((err) => "n/a");  
          }
        }
        
    },
    computed: {
      
    },
    
  asyncComputed: {
    
    },
    watch: {
      
    }
}
</script>

<style scoped lang="scss">
  .character-id-card {
     
  }
</style>
