<template lang="html">

  <section class="characters">
      <h1>Star wars characters </h1>
      
      <div class="" >
        <CharacterIdCard
        :key="ckey"
        v-bind:loading="loading" 
        v-bind:characterIntel="characterIntel"/>
      </div>
      
      
      <div class="columns is-multiline">
        <em v-if="charactersLoader">List is now loading ...</em>
        <CharacterItem
        v-for="(character, index) in characters" 
        v-bind:key="index" 
        v-bind:character="character"
        v-on:item-cliked="fetchItemData"
        />
       
       
    </div>
  </section>



</template>

<script lang="js">
import CharacterItem  from "./CharacterItem";
import CharacterIdCard from "./CharacterIdCard";
import axios from "axios";

  export default  {
    name: 'characters',
    props: [],
    components: {
      CharacterItem,
      CharacterIdCard
    },
    mounted() {
      this.fetchData();
    },
    data() {
      return {
        characters: [],
        loading: false,
        characterIntel: {},
        charactersLoader: false,
        ckey: 0
      }
    },
    methods: {
      fetchData: function(){
        this.charactersLoader = true;
        axios.get('https://swapi.co/api/people/')
        .then(response => {
          this.characters = response.data.results;
          this.charactersLoader = false;
        })
        .catch((err) => {
          this.characters= [];
          this.charactersLoader = false;
        });

      },
      fetchItemData: function(url){
        this.loading= true;
        axios.get(url)
        .then(response => {
          this.characterIntel = response.data;
          this.loading = false;
          this.ckey++;
          //console.log(this.characterIntel);
        })
        .catch((err) => {
          this.loading = false;
        });
        }
      },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  
</style>
