<template lang="html">

<div class="box character-physical-card">
        <h3>{{ids.name}}</h3>
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>

          <div>        
            <dl>
              <dt>Age : </dt>
              <dd>{{ids.age}} years old</dd>
              <dt>Gender : </dt>
              <dd>{{ids.gender}}</dd>
              <dt>Height : </dt>
              <dd>{{ids.height}} feet</dd>
              <dt>Mass : </dt>
              <dd>{{ids.mass}} pounds</dd>
            </dl>
          </div>  
        </article>
  </div>

  

</template>

<script lang="js">
  export default  {
    name: 'CharacterPhysicalCard',
    props: {
      ids: {
        name: "n/a",
        age: 0,
        gender: "n/a",
        height: 0,
        mass: 0
      }
    },
    mounted() {

    },
    data() {
      return {
        
      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
.character-physical-card{
   dt {
    font-weight: bold;
    text-decoration: none;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
}
</style>
