<template lang="html">

  <section class="home-page">
    <h1>home-page Component</h1>
  </section>

</template>

<script lang="js">
  export default  {
    name: 'home-page',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .home-page {

  }
</style>
