<template lang="html">

  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      ProgressSW
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item"><router-link to="/">Home</router-link></span>
      <span class="navbar-item"><router-link to="/characters">Characters</router-link></span>
      <span class="navbar-item"><router-link to="/starships" ships="">Starships</router-link></span>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <router-link to="/signup">Sign up</router-link>
          </a>
          <a class="button is-light">
            <router-link to="/login">Sign in</router-link>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  </div>

</template>

<script lang="js">
  export default  {
    name: 'menu-component',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss"></style>
