<template lang="html">

  <section class="oponents">
    
  </section>

</template>

<script lang="js">
  export default  {
    name: 'oponents',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .oponents {

  }
</style>
