<template lang="html">

  <dd>{{ship}}</dd>

</template>

<script lang="js">
  export default  {
    name: 'ShipItem',
    props: ['ship'],
    mounted() {},
    data() {
      return {}
    },
    methods: {},
    computed: {
    }
}
</script>

<style scoped lang="scss">
</style>
