<template lang="html">

  <section class="signup">
    <h1>signup Component</h1>
    <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
        <form @submit.prevent="submit">
        <p class="flash">Please provide these following information</p>

        <input class="input" v-model="username" placeholder="username"><br>
        <input class="input" v-model="password" placeholder="password"><br>
        <a class="button" href="#" v-on:click="submit">SUBMIT</a>

      </form>
          </div>
        </div>
  </section>

</template>

<script lang="js">
import axios from 'axios';
import router from 'vue-router';

  export default  {
    name: 'signup',
    props: [],
    mounted() {

    },
    data() {
      return {
        username: '',
        password: '',
        flash: 'is-primary'
      }
    },
    methods: {
      submit: function(){
        
        if(this.username && this.password){
          
          this.$http.post('http://localhost:3000/users', {
            userName: this.username,
            password: this.password
          })
            .then(function(post){
                this.$router.push('/');
            }).catch(function (err) {
              console.log(err);
            })
        
        }
      }
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .signup {

  }
</style>
