<template lang="html">

  <section class="first-squadron">
        <article class="media">
          <div>        
            <dl>
              <dt>Starship name : </dt>
              <dd>{{squadron.name}} </dd>
              <dt>Starship cost : </dt>
              <dd>{{squadron.cost}}</dd>
              <dt>Starship length : </dt>
              <dd>{{squadron.length}} feet</dd>
              <dt>Starship capacity : </dt>
              <dd>{{squadron.passengers}} passengers</dd>
            </dl>
          </div>  
        </article>
  </section>

</template>

<script lang="js">
  export default  {
    name: 'squadron',
    props: ['squadron'],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
  .first-squadron {
    dt {
    font-weight: bold;
    text-decoration: none;
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
  }
</style>
