<template lang="html">
<div id="ships">

  <section class="starships">
    
    <div class="columns">
      <div class="column is-full"><WarScore 
      v-bind:winner="squadron.winner"
      v-bind:by="squadron.by"
      />
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter"><Squadron v-bind:squadron="squadron.opposants.first" :key="1"/></div>
      <div class="column is-half">
          
      </div>
      <div class="column is-one-quarter"><Squadron v-bind:squadron="squadron.opposants.second" :key="2"/></div>
    </div>  
    
      
    
  </section>

  </div>
</template>



<script lang="js">
//import Vue from "vue";
import ShipItem  from "./ShipItem";
import Squadron from './squadron';
import WarScore from './warScore';
import axios from "axios";

export default  {
    name: 'Starships',
    props: [],
    mounted() {
       
    },
    components: {
      ShipItem,
      Squadron,
      WarScore
      
    },
    created() {
      this.connectToSocket();
    },
    mounted() {
      
    },
    beforeCreate(){
      
    }
    ,
    beforeDestroy(){
      this.socket && this.closeConnection();
    },
    data() {
      return {
        ships: [],
        socket: null,
        squadron: {
          opposants: {
            first : {
            name: '',
            cost: 0,
            length: 0,
            crew: 0,
            passengers: 0
          },
          second: {
            name: '',
            cost: 0,
            length: 0,
            crew: 0,
            passengers: 0
          }
          },
          winner: '',
          by: ''
        }
      }
    },
    methods: {
      closeConnection: function () {
        
        this.socket.close();
      },
      connectToSocket:function (){
          const vm = this;// this ne sera pas accessible dans le eventHandler
          const socket = new WebSocket('ws://localhost:8181');
          this.socket = socket;
          
          //remove from here
          //find a better way to access component data

          socket.addEventListener('open', function (event) {
              socket.send('Hello Server!');     
          }); 
          
          socket.addEventListener('message', function (event) {
            
                try {
                  // TODO : validate incoming data first (joi validator ?)
                  vm.squadron = JSON.parse(event.data);
                } catch (error) {
                  console.log('can\'t parse data')
                }
          });
          
          socket.addEventListener('error', function (error) {
              console.log('got a socket error');     
          });

          socket.addEventListener('close', function (event) {
              socket.send('Bye Server!');     
          });   
      }
    },
    computed: {}
}




</script>

<style scoped lang="scss">
  
</style>

