<template lang="html">

  <section class="war-score">
    <h3>And the winner is ;</h3>
    <p><em>{{winner}}</em></p>
    <p>This starship just won the fight by {{formatWinByValue}}</p>
  </section>

</template>

<script lang="js">
  export default  {
    name: 'war-score',
    props: ['winner', 'by'],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {

    },
    computed: {
        formatWinByValue: function () {
          const peopleCapacity = ['crew', 'passengers'];
          return (peopleCapacity.includes(this.by)) 
          ? `a greater ${this.by} capacity` 
          : `a greater ${this.by}`;
          
        }
    }
}
</script>

<style scoped lang="scss">
  .war-score {

  }
</style>
