<template>
  <div id="app" class="container">
   
     


    <MenuComponent/>
    <router-view></router-view>

  
  </div>
</template>

<script>
import MenuComponent from "./components/MenuComponent";

export default {
  name: "app",
  components: {
    MenuComponent
  },
  methods: {
    
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
